
<ion-content fullscreen="true">
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Assignment Report</ion-card-subtitle>
            <ion-card-title>Student: {{assignments['student'].name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <div id="table">
                <app-mat-table
                        id="toPDF"
                        [tableData]="assignments['assignments']"
                        [tableColumns]="ordersTableColumns"
                        [isPageable]="true"
                        [defaultPageSize]="15">
                </app-mat-table>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-button (click)="generatePDF()">Export as PDF</ion-button>
</ion-content>
