
<ion-content [fullscreen]="true">
    <div id="container">
  <ion-grid>
<!--    Search bar and batch, course dropdowns -->
    <ion-row>

      <ion-col size-md="6" size-lg="6" size-sm="12">
<!--        Search bar-->
        <ion-searchbar showCancelButton="focus" class="rounded"></ion-searchbar>
      </ion-col>

<!--      <ion-col>-->
<!--&lt;!&ndash;        batch &ndash;&gt;-->
<!--        <ion-item class="rounded" >-->
<!--          <ion-select placeholder="Course" size-md="3" size-sm="6">-->

<!--            <ion-select-option *ngFor="let batch of batches" value="{{batch.course__id}}">{{batch.course__name}}</ion-select-option>-->

<!--          </ion-select>-->
<!--        </ion-item>-->
<!--      </ion-col>-->

      <ion-col>
        <ion-item class="rounded" >
          <ion-select placeholder="Batch" #Batch size-md="3" size-sm="6" [(ngModel)]="selected_batch" (ionChange)="fetchSyllabus(Batch.value)">
              <ion-select-option *ngFor="let batch of batches" value="{{batch.id}}">{{batch.name}}({{batch.course__name}})</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
</ion-grid>

    <ion-grid>
        <ion-col size="12">
            <div *ngIf="syllabus.length == 0; else syllabusData"><h2 style="margin-left: 10%;">Please Choose a batch.</h2></div>
            <ng-template #syllabusData>
            <div>
                <ion-row style="margin-top: 30px;">
                    <h1><b></b></h1>
                    <hr>
                </ion-row>
                <div #chapters *ngFor="let topic of syllabus,let i = index">
                <ion-row size="12">
                    <ion-card class="rounded" style="width: 100%;">
                        <ion-item>
<!--                            <ion-icon name="book" slot="start"></ion-icon>-->
                            <ion-label>
                                <ion-row>
                                <h1><strong>{{i+1}}.  {{topic.name}}</strong></h1>
                                </ion-row>
                            </ion-label>
                            <div class="datebox rounded" fill="outline" slot="end">
                                {{topic.start_date}}</div>
                            <div class="datebox rounded" fill="outline" slot="end">
                                {{topic.end_date}}</div>

                        </ion-item>

                        <ion-card-content>
                            <ol type="1" >
                                <li *ngFor="let subtopic of topic.subtopics">
                                    {{subtopic.name}} <ion-icon *ngIf="subtopic.completed; else elseBlock" name="checkmark-circle-sharp" style="font-size: 20px;color: limegreen;"></ion-icon>
<ng-template #elseBlock><ion-icon name="close-circle-sharp" style="font-size: 20px;color: red;"></ion-icon></ng-template>
<!--                                    <ng-template #thenBlock><p>errere</p><ion-icon name="checkmark-circle-sharp"></ion-icon></ng-template>-->
<!--                                    <ng-template #elseBlock><p>ererreer</p><ion-icon name="close-circle-sharp"></ion-icon></ng-template>-->
                                </li>
                            </ol>
                        </ion-card-content>
                    </ion-card>
                </ion-row>
                </div>
            </div>
            </ng-template>
        </ion-col>
    </ion-grid>
</div>

</ion-content>
