<!--<ng-container>-->
<div class="container">
  <!-- Table -->
  <div class="mat-elevation-z8">
  <table mat-table  [dataSource]="tableDataSource" matSort (matSortChange)="sortTable($event)" style="width: 100%">

    <!-- action column -->
<!--    <ng-container *ngIf="rowActionIcon?.length" [matColumnDef]="rowActionIcon">-->
<!--      <th mat-header-cell *matHeaderCellDef></th>-->
<!--      <td mat-cell *matCellDef="let element" [id]="rowActionIcon" (click)="emitRowAction(element)">-->
<!--        <button mat-button>-->
<!--          <mat-icon>remove_shopping_cart</mat-icon>-->
<!--        </button>-->
<!--      </td>-->
<!--    </ng-container>-->
    <ng-container *ngFor="let tableColumn of tableColumns" [matColumnDef]="tableColumn.name">

      <!-- if sortable column header -->
      <ng-container *ngIf="tableColumn.isSortable; else notSortable">
        <script type="text/javascript">console.log('Sortable column header');</script>
        <th mat-header-cell *matHeaderCellDef [mat-sort-header]="tableColumn.name"
            [arrowPosition]="tableColumn.position === 'right' ? 'before' : 'after'">
          {{tableColumn.name}}
        </th>
      </ng-container>
      <!-- else not sortable -->
      <ng-template #notSortable>
        <script type="text/javascript">console.log('notSortable column header');</script>
        <th mat-header-cell *matHeaderCellDef [class.text-right]="tableColumn.position == 'right'">
          {{tableColumn.name}}
        </th>
      </ng-template>

      <!-- column data -->
      <td mat-cell *matCellDef="let element" [class.text-right]="tableColumn.position == 'right'">
        {{element | dataPropertyGetter: tableColumn.dataKey}}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
    </div>

  <!-- Pagination -->
  <mat-paginator *ngIf="isPageable"
                 [pageSizeOptions]="paginationSizes"
                 [pageSize]="defaultPageSize"
                 showFirstLastButtons>
  </mat-paginator>
<!--</ng-container>-->
</div>
