

<!-- <ion-content> -->
  <!-- <div class="grid-container">
    <div class="grid-x">
      <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 cell">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h2>Log In</h2>
          <p>Please login to continue</p>
          <label class="full-width-input">
            Email
            <input type="text" placeholder="Email" formControlName="email" required>
          </label>

          <label class="full-width-input">
            Password
            <ioninput type="password" placeholder="Password" formControlName="password" required>
          </label>
          <button class="button">Login</button>
        </form>
        <div class="register-link">
          Not yet registered? <a routerLink="/register">Register Now</a>
        </div>
      </div>
    </div>
  </div>
   -->
  <ion-content >
    <ion-card style="margin-top:100px;">
      <ion-card-header>
        <ion-card-subtitle>Enter your credentials </ion-card-subtitle>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <!-- <h2>Log In</h2> -->
          <!-- <p>Please login to continue</p> -->
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-button type='submit'>Login</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-content>
