
<ion-content fullscreen="true">
  <div class="container" id="container">
    <div id="top">
        <div id="search">
      <ion-searchbar showCancelButton="focus" class="rounded"></ion-searchbar>
    </div>
        <div id="course">
          <ion-item>
              <ion-select class="selector" placeholder="Course" [(ngModel)]="selectedCourse" >
<!--                <ion-select-option *ngFor="let course of courses" value="{{course.id}}">{{course.id}}){{course.title}}</ion-select-option>-->
              </ion-select>
          </ion-item>
      </div>
        <div id="batch">
          <ion-item>
              <ion-select class="selector rounded" placeholder="Batch" [(ngModel)]="selectedBatch">
<!--                <ion-select-option *ngFor="let batch of batches" value="{{batch.id}}">{{batch.name}}</ion-select-option>-->
              </ion-select>
          </ion-item>
      </div>
    </div>
{{assignment_number}}
<!--    ---------------------------------------- -->
      <div id="AssignmentNumber">

        <div id="text">
                        <ion-text class="page-title" color="dark"><h2>Assignment No.</h2></ion-text>
        </div>
        <div id="option">

                    <ion-item>
                        <ion-select class="selector" interface="popover" [(ngModel)]="assignment_number" (ionChange)="showDetails()" placeholder="Select One">
                            <ion-select-option *ngFor="let assignment of assignments" value="{{assignment.id}}">{{assignment.id}}</ion-select-option>
                        </ion-select>
                    </ion-item>
        </div>
      </div>

    <div id="status" *ngIf="detail != null" style="overflow: hidden;">
        {{detail}}
        <div id="upload">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item class="label-primary rounded">
                        <ion-label color="light" position="float">Upload status</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-text color="medium"><h1>{{detail.total_submissions}}/{{detail.total_students}}</h1></ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div id="review">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item class="label-primary rounded" >
        <ion-label color="light" position="float">Review status</ion-label>
        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-text color="medium"><h1>{{detail.total_submissions_reviewed}}/{{detail.total_students}}</h1></ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </div>
    </div>

    <div id="table">
<!--        <div>-->
<!--        <app-mat-table-->
<!--        [tableData]="studentwise_list"-->
<!--        [tableColumns]="ordersTableColumns"-->
<!--        [isPageable]="true"-->
<!--        [defaultPageSize]="15">-->
<!--        </app-mat-table>-->
<!--        </div>-->
<!--         <div id="footer"></div>-->
    </div>
    </div>
<!--  </div>-->
</ion-content>
