root{
  --main-padding:5px;
  --main-margin-left:15px;
}

.container{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.2fr 0.8fr;
  grid-template-areas:  "top"
                        "AssignmentNumber"
                        "status"
                        "table";
  grid-gap: 0.2rem;
}

#top{
  grid-area: top;
  display: grid;
  grid-template-columns: 0.6fr 0.3fr 0.3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "search course batch";
  grid-gap: 0.5rem;
}

#search{
  margin: 5px;
  grid-area: search;
}
#course{
  margin: 5px;
  grid-area: course;
}
#batch{
  margin: 5px;
  grid-area: batch;
}
#text{
  margin: 5px;
  grid-area: text;
}
#option{
  margin: 5px;
  grid-area: option;
}
#AssignmentNumber{
  grid-area: AssignmentNumber;
  display: grid;
  grid-template-columns: 0.2fr 0.2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "text option";
  grid-gap: 0.5rem;
}

#status{
  margin: 5px;
  grid-area: status;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "upload review";
  grid-gap: 0.5rem;
}
#table{
  margin: 5px;
  grid-area: table;
}
#upload{
  margin: 5px;
  grid-area: upload;
}
#review{
  margin: 5px;
  grid-area: review;
}
@media only screen and (max-width:550px ) {
  //.container {
  //  grid-template-columns: 1fr;
  //  grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.4fr 1fr 0.2fr;
  //  grid-template-areas: "search" "course" "batch" "type" "text1" "inputs" "editor" "editorButtons";
  //}
  }
