<ion-app>
    <ion-header >
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>

            <ion-title>
                InstEasy
            </ion-title>
<!--            <ion-button slot="end" (click)="presentActionSheet()">-->
                <ion-icon name="settings-outline" slot="end" (click)="presentActionSheet()" size="large" style="margin-right: 15px;"></ion-icon>
<!--            </ion-button>-->
        </ion-toolbar>
    </ion-header>

    <ion-content>
         <ion-split-pane content-id="menu" >

             <ion-menu content-id="menu" class="navbar rounded" type="push" >
               <ion-card class="navbar">
                   <ion-card-content>
                       <div *ngFor="let p of pages">
                           <ion-menu-toggle auto-hide="false" *ngIf="p.url">
                                <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active">
                                    <ion-icon [name]="p.icon" slot="start"></ion-icon>
                                    <ion-label>
                                        {{p.title}}
                                    </ion-label>
                                </ion-item>
                           </ion-menu-toggle>
                           <ion-item button *ngIf="p.children?.length > 0" (click)="p.open = !p.open"
                           [class.active-parent]="p.open" detail="false">
                               <ion-icon slot="start" [name]="p.icon"></ion-icon>
                               <ion-label>
                                   <ion-icon slot="start" name="chevron-forward" *ngIf="!p.open"></ion-icon>
                                   <ion-icon slot="start" name="chevron-down" *ngIf="p.open"></ion-icon>
                                   {{p.title}}
                               </ion-label>
                           </ion-item>

                           <ion-list *ngIf="p.open">
                               <ion-menu-toggle auto-hide="false">
                                    <ion-item class="sub-item" *ngFor="let sub of p.children" [routerLink]="sub.url" routerDirection="root" routerLinkActive="active">
                                        <ion-icon [name]="sub.icon" slot="start"></ion-icon>
                                        <ion-label>
                                            {{sub.title}}
                                        </ion-label>
                                    </ion-item>
                               </ion-menu-toggle>
                           </ion-list>
                       </div>
                   </ion-card-content>
               </ion-card>
             </ion-menu>
                 <!-- the main content -->
                <ion-router-outlet id="menu" ></ion-router-outlet>
         </ion-split-pane>
    </ion-content>
</ion-app>
