<ion-content [fullscreen]="true">
  <div id="container" class="container">
    <div id="search" ><ion-searchbar showCancelButton="focus" class="rounded"></ion-searchbar></div>
    <div id="course">
        <ion-item>
            <ion-select class="selector" placeholder="Course" [(ngModel)]="selected_course" >
              <ion-select-option *ngFor="let batch of batches,let i = index" value="{{batch.course_id}}">{{i+1}}) {{batch.course__name}}</ion-select-option>
            </ion-select>
        </ion-item>
    </div>
    <div id="batch">
        <ion-item>
            <ion-select class="selector rounded" placeholder="Batch" [(ngModel)]="selected_batch">
              <ion-select-option *ngFor="let batch of batches,let i = index" value="{{batch.id}}">{{i+1}}) {{batch.name}}</ion-select-option>
            </ion-select>
        </ion-item>
    </div>

    <div id="text1">
        <ion-text class="page-title" color="dark"><h2>Create Assignment</h2></ion-text></div>
        <ion-list>
  <ion-radio-group value="AM" [(ngModel)]="type">
    <ion-list-header id="TypeSelector">
      <ion-label>Type</ion-label>
    </ion-list-header>

    <ion-item id="AM">
      <ion-label>Assignment</ion-label>
      <ion-radio slot="start" value="AM"></ion-radio>
    </ion-item>

    <ion-item id="RM">
      <ion-label>Reading Material</ion-label>
      <ion-radio slot="start" value="RM"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
    <div id="editor">
        <ion-card>
            <ion-card-content>
                <ion-item class="textarea">
                    <angular-editor class="text-editor" [placeholder]="'Write here...'" [config]="editorConfig"
                                    [(ngModel)]="textdata" color="black" size-md="9" #TextEditor>
                    </angular-editor>
                </ion-item>
            </ion-card-content>
<!--            <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>-->
        </ion-card>
    </div>
      <div id="inputs">
          <div>
              <ion-grid>
                  <ion-row>
                      <ion-col>
                          <ion-item class="label-dark rounded" id="pointsLabel">
                              <ion-label color="light" position="float">Points</ion-label>
                          </ion-item>
                      </ion-col>
                      <ion-col>
                        <ion-item id="pointInput">
                            <ion-input clearInput type="number" value="clear me" [(ngModel)]="points"></ion-input>
                        </ion-item>
                      </ion-col>
                  </ion-row>
              </ion-grid>

          </div>
<!--          <div id="pointsInput"><ion-input type="number"></ion-input></div>-->
          <div>
              <ion-grid>
                  <ion-row>
                      <ion-col>
                          <ion-item class="label-dark rounded" id="dueDateLabel">
                              <ion-label color="light" position="float">Due date</ion-label>
                          </ion-item>
                      </ion-col>
                      <ion-col>
                          <ion-item id="dueDateInput" >
                            <ion-input clearInput type="date" [(ngModel)]="due_date"></ion-input>
                          </ion-item>
                      </ion-col>
                  </ion-row>
              </ion-grid>

          </div>
<!--          <div id="dueDateInput"><ion-input type="number"></ion-input></div>-->
      </div>

    <div id="editorButtons">

        <ion-button id="attach" class="rounded" color="primary" type="file">
            <ion-label slot="end">Attach File</ion-label>
            <input type="file" id="file-input" (change)="loadImageFromDevice($event)">
        </ion-button>
        <ion-button class="rounded" color="primary" disabled=""  id="upload">Upload</ion-button>
        <ion-button class="rounded" color="primary" id="post" (click)="createAssignment()">Post</ion-button>
    </div>
  </div>
    <p>{{selected_course}} | {{selected_batch}} | {{points}} | {{due_date}} | {{type}} | {{textdata}}</p>
</ion-content>
