root{
  --main-padding:5px;
  --main-margin-left:15px;
}

.container{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 0.3fr 0.3fr;
  grid-template-rows: 0.3fr 0.2fr 0.8fr 0.3fr;
  grid-template-areas:  "search course batch"
                        "text1 text1 text1"
                        "editor editor inputs"
                        "editorButtons editorButtons x";
  grid-gap: 0.2rem;
}
#editorButtons{
  grid-area: editorButtons;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "attach upload post";
  grid-gap: 0.5rem;
}
#inputs{
  grid-area: inputs;
  display: grid;
  height: 50%;
  //grid-template-columns: 0.5fr 0.5fr;
  //grid-template-rows: 0.5fr 0.5fr;
  //grid-template-areas: "pointsLabel pointsInput"
  //                      "dueDateLabel dueDateInput";
}
//#datelabel{
//    --color:#23bcd9;
//}

#pointsLabel{
  margin: 5px;
  grid-area: pointsLabel;
}
#pointsInput{
  margin: 5px;
  grid-area: pointsInput;
}
#dueDateLabel{
  margin: 5px;
  grid-area: dueDateLabel;
}

#dueDateInput{
  margin: 5px;
  grid-area: dueDateInput;
}
#attach{
  grid-area: attach;
}
#text1{
  padding-top: var(--main-padding);
  grid-area: text1;
  //background: #46b8da;
  margin-left: var(--main-margin-left);
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "typeSelector AM RM";
  grid-gap: 0.5rem;
}
#TypeSelector{
  grid-area: typeSelector;
}
#AM{
  grid-area: AM;
}
#RM{
  grid-area: RM;
}
#upload{
  grid-area: upload;
}
#post{
  grid-area: post;
}

#footer{
  grid-area: footer;
}

#search{
  grid-area: search;
  //background: #3dc2ff;
  padding-top: var(--main-padding);
  margin-left: var(--main-margin-left);
}

#course{
  grid-area: course;
  //background: #2aabd2;
  padding-top: var(--main-padding);
  margin-left: var(--main-margin-left);
}

#batch{
  padding-top: var(--main-padding);
  grid-area: batch;
  //background: #5b80b2;
  margin-left: var(--main-margin-left);
}
#editor{
  padding-top: var(--main-padding);
  grid-area: editor;
  //background: #66afe9;
  margin-left: var(--main-margin-left);
}
@media only screen and (max-width:550px ) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.4fr 1fr 0.2fr;
    grid-template-areas: "search" "course" "batch" "type" "text1" "inputs" "editor" "editorButtons";
  }
  }
