<ion-content [fullscreen]="true">
    <div class="container">
        <div id="table">
        <app-mat-table
        [tableData]="notices"
        [tableColumns]="ordersTableColumns"
        [isPageable]="true"
        [defaultPageSize]="15">
        </app-mat-table>
        </div>
         <div id="footer"></div>
    </div>
</ion-content>
