

<ion-content [fullscreen]="true">
<div id="container" class="container">

     <div id="search">
         <ion-searchbar showCancelButton="focus" class="rounded" (ionChange)="getItems($event)"></ion-searchbar>
         <ion-list *ngIf="isItemAvailable" style="width: 100%; max-height: 200px; overflow-y: scroll;">
            <ion-item *ngFor="let item of items" button>
                <ion-label> {{item.student__first_name}} {{item.student__last_name}}</ion-label>
            </ion-item>
         </ion-list>
<!--         <ion-list *ngIf="isItemAvailable">-->
<!--             <ion-item *ngFor="let item of items">{{ item }}</ion-item>-->
<!--         </ion-list>-->
<!--         <form class="example-form">-->
<!--             <mat-form-field class="example-full-width">-->
<!--                 <mat-label>Number</mat-label>-->
<!--                 <input type="text"-->
<!--                        placeholder="Pick one"-->
<!--                        aria-label="Number"-->
<!--                        matInput-->
<!--                        [formControl]="myControl"-->
<!--                        [matAutocomplete]="auto">-->
<!--                 <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">-->
<!--                     <mat-option *ngFor="let option of filteredOptions | async" [value]="option">-->
<!--                         {{option}}-->
<!--                     </mat-option>-->
<!--                 </mat-autocomplete>-->
<!--             </mat-form-field>-->
<!--         </form>-->

     </div>
    <div id="course">
        <ion-item>
            <ion-select class="selector" placeholder="Course" [(ngModel)]="selectedCourse" (ionChange)="initializeItems()">
              <ion-select-option *ngFor="let batch of batches" value="{{batch.course_id}}">{{batch.course__name}}</ion-select-option>
            </ion-select>
        </ion-item>
    </div>
    <div id="batch">
        <ion-item>
            <ion-select class="selector rounded" placeholder="Batch" [(ngModel)]="selectedBatch" (ionChange)="initializeItems()">
              <ion-select-option *ngFor="let batch of batches" value="{{batch.id}}">{{batch.name}}</ion-select-option>
            </ion-select>
        </ion-item>
    </div>
    <div id="text1"><ion-text color="dark" style="margin-left: var(--main-margin-left)"><h2>Announcements</h2></ion-text></div>
    <div id="editor">
        <ion-card>
            <ion-card-content>
                <ion-item class="textarea">
                    <angular-editor class="text-editor" [placeholder]="'Write here...'" [config]="editorConfig"
                                    [(ngModel)]="textdata" color="black" size-md="9" #TextEditor>
                    </angular-editor>
                </ion-item>
            </ion-card-content>
            <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
        </ion-card>
    </div>
    <div id="editorButtons">
        <ion-button id="attach" class="rounded" color="primary">Attach files</ion-button>
        <ion-button class="rounded" color="primary" disabled="" id="upload">Upload</ion-button>
        <ion-button class="rounded" (click)="createNotice()" color="primary" id="post">Post</ion-button>
    </div>
    <div id="text2">
        <ion-text style="margin-left: var(--main-margin-left)"><h2>Notice Board Archive</h2></ion-text>
    </div>
    <div id="table">
        <app-mat-table
        [tableData]="notices"
        [tableColumns]="ordersTableColumns"
        [isPageable]="false"
        [defaultPageSize]="5">
        </app-mat-table>
    </div>
    <div id="footer"></div>
</div>
</ion-content>

