root{
  --main-padding:5px;
  --main-margin-left:15px;
}

//table {
  //width: 100%;
//}

.container{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 0.3fr 0.3fr;
  grid-template-rows: 0.3fr 0.3fr 1fr 0.3fr 0.3fr 1fr 0.3fr;
  grid-template-areas:"search course batch"
                      "text1 text1 text1"
                      "editor editor X"
                      "editorButtons editorButtons X"
                      "text2 text2 text2"
                      "table table tablex"
                      "footer footer footer";
  grid-gap: 0.2rem;
}

#editorButtons{
  grid-area: editorButtons;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "attach upload post";
  grid-gap: 0.5rem;
}

#attach{
  grid-area: attach;
}
#upload{
  grid-area: upload;
}
#post{
  grid-area: post;
}

#footer{
  grid-area: footer;
}

#search{
  grid-area: search;
  //background: #3dc2ff;
  padding-top: var(--main-padding);
  margin-left: var(--main-margin-left);
}

#course{
  grid-area: course;
  //background: #2aabd2;
  padding-top: var(--main-padding);
  margin-left: var(--main-margin-left);
}

#batch{
  padding-top: var(--main-padding);
  grid-area: batch;
  //background: #5b80b2;
  margin-left: var(--main-margin-left);
}

#text1{
  padding-top: var(--main-padding);
  grid-area: text1;
  //background: #46b8da;
  margin-left: var(--main-margin-left);
}

#editor{
  padding-top: var(--main-padding);
  grid-area: editor;
  //background: #66afe9;
  margin-left: var(--main-margin-left);
}

#text2{
  padding-top: var(--main-padding);
  grid-area: text2;
  //background: aqua;
  margin-left: var(--main-margin-left);
}

#table{
  padding-top: var(--main-padding);
  grid-area: table;
  //background: #3a7be0;
  margin-left: var(--main-margin-left);
}

@media only screen and (max-width:550px ) {
  .container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 1fr 0.2fr 0.2fr 1fr 0.2fr;
    grid-template-areas: "search search"
  "course batch"
  "text1 text1"
  "editor editor"
  "editorButtons editorButtons"
  "text2 text2"
  "table table"
  "footer footer";
  }
}
